.swiper_js {
    
    background: $bg-darkblue;
    padding-top: 100px;

    .box {
        background: url(../assets/img/swiper_js/IMG-208.jpg) no-repeat 50px-240px;
        width: 300px;
        height: 400px;
    }

    .box2 {
        background: url(../assets/img/swiper_js/Chiken.jpg)no-repeat;
        width: 600px;
        height: 500px;
    }

    .box3 {
        background: url(../assets/img/swiper_js/Chiken1.jpg)no-repeat;
        width: 600px;
        height: 500px;
    }

    .box4 {
        background: url(../assets/img/swiper_js/Chiken2.jpg)no-repeat;
        width: 600px;
        height: 500px;
    }

    .box5 {
        background: url(../assets/img/swiper_js/Chiken3.jpg)no-repeat;
        width: 600px;
        height: 500px;
    }
}